
@{
    ViewBag.Title = "Home";
}

@if(TempData["Erro"] != null) { @Html.Partial("_PartialErro")}

<h1>Home</h1>
<h2>Teste Frontend - Alelo</h2>
<hr />

<img src="~/img/front_end.jpg" alt="Alternate Text" class="img-responsive BannerHome" />

